name: Post study session reminders

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  # optional: run weekly
  # schedule:
  #   - cron: "0 9 * * MON"  # 9am UTC Mondays

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Uses python
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!
      - run: pip install requests
      - run: python scripts/post_slack.py
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
          SLACK_CHANNEL_ID: ${{ secrets.SLACK_CHANNEL_ID }}
          COURSES_PATH: courses.json

